# PostgreSQL 17 (percent-encode special characters in the password)
DATABASE_URL=postgresql://postgres:<password>@localhost:5432/postgres

# ------------------------------------------------------------------------------
# Identifiers and table names
# ------------------------------------------------------------------------------

# Logical identifier for the ESP32 device
DEVICE_ID=esp32-s3-devkit-001

# Database tables
RAW_DATA_TABLE=readings
SNAPSHOT_DATA_TABLE=snapshots

# Vector store tables
RAG_SNAPSHOT_TABLE=rag_snapshots
RAG_LITERATURE_TABLE=rag_literature_chunks


# ------------------------------------------------------------------------------
# API authentication / security tokens
# ------------------------------------------------------------------------------

# Token required to post readings data to /ingest endpoint
INGEST_TOKEN = change-me

# Token required to get latest reading from /latest endpoint
STATUS_TOKEN = change-me

# Token required to post to RAG vector store via /rag/index, /rag/rebuild, /rag/ingest_docs
RAG_TOKEN = change-me


# ------------------------------------------------------------------------------
# Ollama configuration
# ------------------------------------------------------------------------------

# The local Ollama server always has the same localhost port 11434
OLLAMA_HOST=http://127.0.0.1:11434

# Use 'ollama pull [model]' to download models locally
# Use 'ollama ps' to see processing data for most recently run model
# Use 'ollama show [model]' to see model profile

OLLAMA_EMBED_MODEL=nomic-embed-text
EMBED_DIM=768 # must match the embed model dimension

# qwen2.5 has tool-calling and lighter defaults without prompting
OLLAMA_CHAT_MODEL=qwen2.5:latest

# no tool-calling 
# OLLAMA_CHAT_MODEL=gemma2:latest 

# has tool-calling, but defaults to huge context window and exploration space, so queries take too long
# OLLAMA_CHAT_MODEL=llama3.1:latest

# Number of documents to retrieve
RAG_K=5
